# Base de datos
DB_HOST=postgres
DB_PORT=5432
DB_NAME=gestor
DB_USER=
DB_PASSWORD=

# SSO Microsoft Entra
ENTRA_CLIENT_ID=4f781e34-d02c-4136-9bd9-3f98249ed685
ENTRA_TENANT_ID=5fdd1409-67ab-4547-8375-4c0983c0fdcf
ENTRA_CLIENT_SECRET=

# OpenAI
OPENAI_API_KEY=

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}